body, html {
  background: black;
  font-size: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-container .tooltip-text-container {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 4;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltip-text-container {
  visibility: visible;
}

#top-bar-left {
  color: blanchedalmond;
  padding-left: 7px;
  text-align: left;
}

#top-bar-center {
  color: lightgrey;
  text-align: center;
}

#top-bar-right {
  color: aquamarine;
  padding-right: 0.2em;
  text-align: right;
}

.error-block {
  background-color: darkred;
  border: 0.5em red;
  color: white;
}

.source-list-item {
  display: block;
}

/* Style for the div containing the iframe */
.iframe-container {
  background-color: black;
  border: 0px none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
  justify-content: center;
  align-items: center;
}

/* Style for the iframe element */
.full-screen {
  background-color: black;
  border: 0px none;
  height: 100%;
  width: 98%;
  margin-bottom: 0px;
  margin-left: 1%;
  justify-content: center;
  align-items: center;
  -ms-zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
}

.default-frame {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  left: 0px;
  border: 0px none;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  bottom: 0px;
}

.top-bar {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: #333;
  color: #fff;
  padding: 1vh;
  border: 0px none;
  overflow: hidden;
  position: relative;
  width: auto;
}

.child {
  position: relative;
  display: grid;
  border: 1px solid hsl(210deg 8% 50%);
  border-radius: 5px;
  background: hsl(210deg 15% 20%);
  color: white;
  padding: 0.5vh;
  font-family: "Victor Mono", sans-serif;
  font-size: 1.4vw;
}

/* Default variables values for grid layout 4 cols x 3 rows */
:root {
  --main-layout: auto auto auto auto;
  --main-width: 24.9vw;
  --main-height: 31vh;
}

/* Style for the dashboard container */
.dashboard {
  display: grid;
  grid-template-columns: var(--main-layout);
  grid-gap: 0px;
  border: 0px none;
  margin-bottom: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Style for the image container */
.tile-image {
  position: relative;
  float: inline-start;
  margin-right: 0px;
  border: 0px none;
  height: var(--main-height);
  width: var(--main-width);
  overflow: hidden;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  border-radius: 5px; /* Rounded corners */
}

.tile-iframe {
  position: absolute; /* it must be absolute */
  float: inline-start;
  overflow: hidden;
  border: 0px none;
  display: flex;
  height: var(--main-height);
  width: var(--main-width);
  margin: 0;
  border-radius: 5px; /* Rounded corners */
}

/* Style for the image */
.tile-image img {
  width: inherit;
  height: auto;
}

/* Style for the image titles */
.tile-title {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* font color */
  background-color: black;
  font-size: 1vw;
  border-left: 0.25vw solid black;
  border-right: 0.25vw solid black;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding-top: 1px;
}

/* Style for the full screen image */
.focused-image {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.media {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.hidden {
  display: none;
}

.user-menu, .menu {
  display: grid;
  grid-gap: 0.2em;
  height: auto;
  margin-top: 10vh;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 3em;
  z-index: 10;
}
/* Style for the left menu options */
.user-menu-left, .menu-left {
  left: calc(-5.2vw - 0px);
}

/* Style for the right menu options */
.user-menu-right, .menu-right {
  right: -1em;
}

#user-menu-right:hover, #menu-left:hover {
  width: 7vw;
  left: 0px;
}

#user-menu-right:hover, #menu-right:hover {
  width: 7vw;
  right: 0px;
}

.menu-item a {
  background-color: darkred;
  color: white;
  z-index: 10;
}

.menu-item-left a {
  position: relative;
  float: inline-start;
  left: calc(-0.2vw - 10px);
  transition: 0.3s;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 8px;
  width: 5vw;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2vw;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  border-radius: 0 5px 5px 0;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.menu-item-left a:hover {
  left: 0;
}

.menu-item-right a {
  position: relative;
  float: inline-start;
  right: calc(-0.2vw - 10px);
  transition: 0.3s;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 8px;
  width: 7vw;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2vw;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.menu-item-right a:hover {
  right: 0;
  width: 7vw;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px;
  box-sizing: border-box;
  z-index: 3;
  font-family: "Roboto Condensed", sans-serif;
}

.overlay-content {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  max-height: 80vh; /* Ensures the overlay content is scrollable if it exceeds the viewport height */
  overflow-y: auto;
}

.close-btn {
  cursor: pointer;
  color: white;
  float: right;
  font-size: 20px;
}

/************************/
/* Feed ticker styles  */
/************************/
.feed-ticker {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 3px 0;
  font-family: "Victor Mono", sans-serif;
  font-size: 1.4vh;
  font-weight: bold;
}

.feed-ticker-container {
  font-size: 0.9em;
  display: inline-block;
  padding-left: 100%;
  animation: ticker var(--ticker-duration, 90s) linear infinite;
  animation-play-state: running; /* Default state is running */
}

.feed-item {
  text-decoration: none;  
  color: #e77600;
  margin-right: 1.3em;
}

.feed-title {
  text-decoration: none;  
  color: lightgrey;
  margin-right: 1.3em;
}

.feed-ticker-error {
  color: white;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.config-item-label {
  font-weight: bold;
  margin-right: 0.5em;
}

.config-item-label div {
  margin-top: 2em;
}

.config-value {
  margin-right: 2em;
}
